<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SAMDA yeongul</title>
    {% include "utils/default_import.html" %}
</head>

<body>
    {% include "utils/navBar.html" %}
    <div class="jumbotron">
        <h1 class="display-4">리듬겜</h1>
        <p class="lead">소개글.</p>
        <hr class="my-4">
        <p>.</p>
        <a class="btn btn-primary btn-lg" href="/song-list" role="button">노래 목록</a>
    </div>
</body>

</html>